<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <p>Sígueme en mis redes sociales</p>
      <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
      <p class="mt-3">&copy; 2024 Mi Vlog Personal. Todos los derechos reservados. By: MOISES MARTIN CONDORI YUJRA</p>
    </div>
  </footer>
  