<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Bienvenido a Mi Blog Personal</h1>
        <p>En este espacio comparto mis pensamientos, experiencias y consejos sobre diversos temas. Espero que disfrutes leyendo mis publicaciones tanto como yo disfruto escribiéndolas.</p>
        
        <div class="post mt-4">
          <h2>Última Publicación</h2>
          <p>Fecha: 5 de Junio, 2024</p>
          <p>Contenido de la última publicación...</p>
          <a href="#" class="btn btn-primary">Leer más</a>
        </div>
  
        <div class="post mt-4">
          <h2>Publicación Anterior</h2>
          <p>Fecha: 1 de Junio, 2024</p>
          <p>Contenido de la publicación anterior...</p>
          <a href="#" class="btn btn-primary">Leer más</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3>Sobre Mí</h3>
        <p>Breve biografía o descripción personal...</p>
        <img src="https://media.licdn.com/dms/image/C4E03AQEOrqRLrpfW8A/profile-displayphoto-shrink_200_200/0/1586896064789?e=2147483647&v=beta&t=zAm5Pd_c7UBE2JlXrnY5VZc0ZuMtPgaRwcDkwVhBYjc" class="img-fluid rounded-circle" alt="Mi foto">
      </div>
    </div>
  </div>

  
  