<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * PROGRAMACION WEB2 * * * * * * * * * * * -->
<!-- * * * * * * * * * *INF 122* * * * * * * * * * -->
<!-- * * * * * * * * * * DEFENSA ANGULAR  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * UNIV. MOISES MARTIN CONDORI YUJRA * * * * * * * * * -->
<!-- * * * * * * * CI. 9103365 LP * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-menu></app-menu>

<app-slider></app-slider>

<app-body></app-body>

<app-footer></app-footer>

<router-outlet />
